body {
	font-family: "Serif", "Times New Roman Georgia", fantasy;
	color: #0000FF;
	background-color: #0000ff;
}
h1 {
	font-size: 1.3em;
	text-align: center;
}

h2{
        font-size: 1.1em;
        text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#ffffff; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}