body {
	font-family: "Times", "Times New Roman", monospace;
	color:#ABD8B5;
    
    background-color: beige
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

h2{
        font-size: 1.1em;
        text-align: center;
}

.a {
	font-family: "Times", "Times New Roman", monospace;
	color: #ffffff;
    
    margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px ; 
}

.a tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#ADF2E9; 
}

.a th {
	text-align: center;
	color: #ffffff;
	background-color: #42E1CC;
}

.b {
    font-family: "Times", "Times New Roman", monospace;
	color: #003366;
    
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px ; 
}

.b tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#DEBCF5; 
}

.b th {
	text-align: center;
	color: #ffffff;
	background-color: #AB5CDF;
}

.img dl{
    text-align: center
}
.img dt{
    cursor: pointer; 
    font-weight: bold;
    font-size: 1em;
    line-height: 2em;
    background: #e3e3e3;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid white; 
}
.img dl{
    margin: auto;
    padding: 1em 0;
}




body.QA{
    background: #A5D99E; 
    color: black; 
}

.QA dl{
    text-align: center
}

.QA dd{
    margin: 0;
    padding: 1em 0;
}

.QA dt{
    cursor: pointer; 
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2em;
    background: #e3e3e3;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid white;        
}



