body{
    background: #A5D99E; 
    color: black; 
}

dl{
 text-align: center
}

dd{
    margin: 0;
    padding: 1em 0;
}

dt{
    cursor: pointer;
    
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2em;
    background: #e3e3e3;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid white;        
}