.link {
    text-align: center;
    margin: auto;
    width: 50%;
    height: 20%;
    margin-bottom: 30px;
    margin-top:30px;
    background-color: darkcyan;
    border-color: blue;
}
h1 {
    text-align: center;
    margin: auto;
    color: darkgreen;
}

body {
    background-color: lightgreen;
}

.vertical-menu {
  width: 200px; /* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}

.currentpage {
  width: 200px; /* Set a width if you like */
}

.currentpage a {
  background-color: #eee; /* Grey background color */
  color: darkgoldenrod; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.currentpage a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.currentpage a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}