body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}



.main {
    background-image: url(images/wallpaper.jpg);
}

.test {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
}
.disable {
    pointer-events: none;
    background-color: gray;
}

.logoutbtn {
    background-color: #dc3545;
    border-color: #dc3545;
}