table {
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
}

table.a {
    table-layout: auto;
    width: 180px;
}

img {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
}

.power {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#more {
    display: none;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
}

body {
    background-color: black;
    color: white;
}