.logo-color {
  background: linear-gradient(white, rgb(153, 152, 152));
}

.name-color {
  text-align: center;
  font-size: 100px;
}

.main-background {
  background: linear-gradient(rgb(153, 152, 152), rgb(63, 63, 63));
}

#StyleThisHeading {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

#WriteBack {
  padding-top: 50px;
  padding-bottom: 150px;
  text-align: center;
}

#GameThoughts {
  width: 50%;
  height: 100px;
}

.about-text {
  text-align: center;
  font-size: x-large;
  padding-top: 80px;
  padding-bottom: 80px;
}

h1 {
  padding-left: 56px;
}

.main-table-styling {
  display: inline;
  width: 100%;
  padding-right: 100px;
  align-content: left;
}

.carousel-styling {
  padding-left: 200px;
  padding-right: 200px;
}

.table-info {
  border: outset;
  border-color: black;
  border-width: 15px;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  font-size: large;
}

.body-wideMargin {
  margin: 50px;
  font-size: 100%;
  line-height: 1.5;
  font-family: Roboto;
}
button{
  padding:5px;
}

ol {

  list-style-type: decimal-leading-zero;
}

ol ol {
  margin-left: 0.9em;
}

ol li {

  line-height: 1.5;
}

.footer-style {
  font-family: 'Arial Narrow-bold', sans-serif;
  font-size: medium;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 5px outset rgba(161, 164, 168, 0.89);
  background-color: rgba(157, 157, 245, 0.2);
}

.large-words {
  font-size: large;
  font-size: 20px;
  text-align: center;
}

.middle-text {
  font-size: medium;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.final-row {
  background-color: rgba(157, 157, 245, 0.1);
}