body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #5a01ff;
	background-image: url(../images/Music.jpg);
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

h2{
		font-size: 1.1em;
		text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #0400f3;
	text-align: center;
	background-color:#0d365f; 
}

th {
	background: url(../images/Banner1.jpg) no-repeat center center;
background-size: cover;
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}