body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: blue;
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

h2{
		font-size: 1.1em;
		margin-left: 73%;
}

table {
	position: absolute;
	margin-left: 70%;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
article {
	position: absolute;
	left: 33%;
	top: 50%;
	width: 600px;
	margin: auto;
}

blockquote.co {
	float: right;
	background: #e3e3e3;
	font-size: 2em;
	width: 35%;
	text-align: center;

	border-radius: 100px
}
img {
	position: absolute;
	left: 33%;
	top: 10%;
	width: 500px;
	height: 250px;
}

.left_button {
	position: absolute;
	left: 49%;
	top: 43%;
}

.right_button {
	position: absolute;
	left: 50.5%;
	top: 43%;
}