body {
    width: 800px;
    margin: 100px auto 0;
    background: azure;
}

.link {
    font-family: fantasy, serif;
}

paragraph {
    font-family: fantasy, serif;
}

blockquote.s0 {
    font-size: 2em;
    background: gray;
    width: 300px;
}

#contact {
    background-color: aquamarine;
    padding: 2em 2em;
    position: relative;
}

.js #contact {
    position: absolute;
    top: 0;
    width: inherit;
    display: none;
}

#contact h2 { margin-top: 0; }

#contact ul { padding: 0; }
            
#contact li {
    list-style: none;
    margin-bottom: 1em;
}
            
/* close button on form */
.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    color: dimgray;
}
            
/* Form inputs */
input, textarea { width: 100%; line-height: 2em; }
input[type=submit] { width: auto; }
label { display: block; text-align: left; }