.background-red {
    background-color: red;
}

.background-orange {
    background-color: orange;
}

.background-yellow {
    background-color: yellow;
}

.background-green {
    background-color: green;
}

.background-blue {
    background-color: blue;
}

.background-indigo {
    background-color: indigo;
}

.background-violet {
    background-color: violet;
}
