body {
	font-family: "Times New Roman", "Times", Serif;
	color: #009080;
    background-color: black;
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

h2{
        font-size: 1.1em;
}

.a {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

.a tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

.a th {
	text-align: center;
	color: #ffffff;
	background-color: #008080;
}
.b {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
    width: 100%;
	border-collapse: collapse;
	cellspacing: 0px;
}

.b tr{
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#000000; 
}

.b th {
	text-align: center;
	color: #ffffff;
	background-color: #000060;
}

.vertical-menu {
  width: 200px; /* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}

.currentpage {
  width: 200px; /* Set a width if you like */
}

.currentpage a {
  background-color: #eee; /* Grey background color */
  color: darkgoldenrod; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.currentpage a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.currentpage a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}