.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }
  
  .button1 {
	border-radius: 8px;
  }
  
  .button2 {
	border-radius: 30%;
  }
  
  .red { 
	 background-color: #ff0000
  }
  .button3 {
	  background-color: #0000ff;
  }
  .button4 {
	  background-color: burlywood;
	  border-radius: 20px;
  }
  .title{
	color: red;
	font-family: 'Trebuchet MS', sans-serif; 
  }
  
  .title-large {
	font-size: 2rem;
  }
  
  .title-small {
	font-size: .5rem;
  }
  *{
    text-align:center;
    border: 2px solid black;
}
.content{
    box-shadow: -5px -5px 10px;
    margin: 7.5%;
}
div#face {
    width: 40vw;
    height: 40vw;
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
    position: relative;
    background: yellow;
    margin-top: 2rem;
}

div#face, div#face * {
    border-radius: 50%;
}

.eye {
    width: 25%;
    height: 25%;
    background: #fff;
    position: absolute;
    top: 20%;
}

.left.eye {
    left: 20%;
}

.right.eye {
    right: 20%;
}

.pupil {
    background: #000;
    width: 50%;
    height: 50%;
    position: relative;
    left: 25%;
    transform-origin: bottom;
}

#mouth {
    position: relative;
    width: 90%;
    left: 30%;
    height: 55%;
    border: 1vw solid transparent;
    border-radius: 50%;
    top: 50%;
    border-bottom-color: #000;
}
