.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button-largeRadius {
	border-radius: 60%;
}

.button-smallRadius {
	border-radius: 20%;
}

.red {
	background-color: #ff0000;
}

td {
	padding: 20px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

.newbutton {
	border-radius: 64px;
	padding: 32px 16px;
	background-color: darkmagenta;
}

.newerbutton {
	background-color: coral;
	color: brown;
	border: 3px solid rgb(99, 30, 2);
	box-shadow: 0 9px 17px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}

.newestbutton {
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	/* Safari */
}

.newestbutton:hover {
	background-color: red;
	color: black;
}

.title {
	color: red;
	font-family: 'Trebuchet MS', sans-serif;
}

.title-large {
	font-size: 2rem;
}

.title-small {
	font-size: .5rem;
}

#morecontent {
	background-color: yellow;
}

#hireButtons {
	background-color: sandybrown;
	border-radius: 50px;
}

#footerTable {
	color: cornflowerblue
}

*{
    font-family: 'Trebuchet MS', sans-serif;
	font-style: oblique;
	font-size: x-large;
}