body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
    background-color: midnightblue;
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

h2{
        font-size: 1.1em;
}

.a {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

.a tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

.a th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
.b  {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
    width: 100%;
	border-collapse: collapse;
	cellspacing: 0px;
}

.b tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#0077be; 
}

.b th {
	text-align: center;
	color: #ffffff;
	background-color: #0077be;
}