h3 {
    padding: 50px;
    border-bottom: 1px solid #5D6063;
}


p {
    padding: 20px 0 20px 10px;
    margin-bottom: 100px;
    /* Add this */
}

strong {
  padding: 50px;
}


body {
    font-family: "Marker Felt", "Comic Sans MS", fantasy;
    color: #003366;

}



h1 {
    font-size: 1.3em;
    text-align: center;
}

h2 {
    font-size: 1.1em;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    cellspacing: 0px;
}

h3 {
    padding: 50px;
}


tr {
    border: 1px solid #ffffff;
    text-align: center;
    background-color: #9FB6CD;
}

th {
    text-align: center;
    color: #ffffff;
    background-color: #003366;
}
