body {
    width: 500px;
    margin: auto;
    text-align: center;
}

dl {
    
}

dd {
    margin: 0;
    padding: 1en 0;
}

dt {
    cursor: pointer;
    font-weight: inherit;
    color: #7CFC00;
    font-size: 3.5en; 
    line-height: 6ex;
    background: #000; 
    border-bottom: 2px solid #c5c5c5;
    border-top: 2px solid white
    
    
}
