body {
    background-color: black;
    
}
p {
    color: #00007F
}

h1 {
    text-align: center;
    padding-bottom: 50px;
    font-family: sans-serif;
    color: #00007F;
}

h2 {
      padding-top: 50px;
      text-align: center;
       font-family: sans-serif;
        color: #00007F;
}
