


h1 { 
    text-align: center;
    color: grey; 
    font-size:60px;
}
body {
    background-color: purple;
    font-family: monospace
}
.nav {
    text-align: center;
    font-size: 35px ;
    color: grey;
    
}
ul {
list-style-type: none;
}

.form { 
margin-top: 25px;
text-align: center;
font-size: 20px;
}
h2 { 
    text-align: center;
    color: grey; 
    font-size:60px;
}