/* Brandon Neri Hour 7       */
/* Web Development           */
/* Stylesheet: page1.html    */

body {
    margin: 0;
    padding: 0;
    background: #F23C50;
    font-family: sans-serif;
}

h2 {
    margin-top: 1%;
    text-align: center;
    color: #FFCB05;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    -webkit-text-stroke: 2px #E9F1DF;
}

h1 {   
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    -webkit-text-stroke: 2px #FFCB05;
    text-align: center;

}

h3 {
    color: #FFCB05;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    -webkit-text-stroke: 1px black;
}

.toggle {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 2;
}

.toggle a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
}

.menu {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #FFCB05;
    z-index: 1;
    transition: 0.5s
}

ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

ul li {
    list-style: none;
}

ul li a {
    padding: 10px;
    display: inline-block;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #262626;
    font-family: sans-serif;
}

ul li a:hover {
    color: #F23C50;
}

.menu.active {
    left: 0px;
    overflow: auto;
}
