body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main{
  padding: 5vh;
}
.container {
  display: inline;
  font-weight: 700;
}

ul li {
  display: inline;
  padding: 2vh;
}

a {
  color: purple;
  text-decoration: none;
}

.logo {
  display: inline;
}

.send-right {
  display: inline;
  float: right;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

input[type=radio] {
  display: none;
}

/* style */

.a-container {
  width: 600px;
  margin: 20px auto;
}

.a-container label {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  color: #aaa;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.a-container label:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid #aaa;
  border-right: 6px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 6px solid transparent;
  position: absolute;
  right: 10px;
  top: 16px;
}

.a-container input:checked+label, .a-container label:hover {
  background-color: #ddd;
  color: #222;
}

.a-container input:checked+label:after {
  border-top: 8px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #222;
  border-left: 6px solid transparent;
  top: 6px;
}

.a-content {
  padding: 0 20px 20px;
  display: none;
}

.a-container input:checked~.a-content {
  display: block;
}