.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button1 {
	border-radius: 8px;
}

.button2 {
	border-radius: 30%;
}

.button3-blue {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color: #7892c2;
	border-radius: 10px;
	border: 1px solid #4e6096;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 19px;
	padding: 12px 37px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #283966;
}

.button3-blue:hover {
	background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color: #476e9e;
}

.button3-blue:active {
	position: relative;
	top: 1px;
}

.button4-yellow {
	text-align: center;
	width: 200px;
	height: 75px;
	background-color: #f3cf00;
	border: none;
	border-radius: 3px;
	/* Yellow */
}

.button5-blue {
	text-align: center;
	width: 100px;
	height: 50px;
	background-color: #008CBA;
	border: none;
	border-radius: 3px;
	/* Blue */
}

.red {
	background-color: #ff0000;
}

td {
	padding: 20px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

.title {
	color: red;
	font-family: 'Trebuchet MS', sans-serif;
}

.title-large {
	font-size: 2rem;
}

.title-small {
	font-size: .5rem;
}

#morecontent {
	background-color: yellow;
}

#hireButtons {
	background-color: rgb(0, 110, 255);
}

#footerTable {
	color: crimson;
	background-color: darkgray;
}
.card {
	white-space: nowrap;
	overflow:scroll
}