.head {
    padding: 10px;
    border: 1px;
    text-align: center;
}

.button {
    padding: 20px;
    border-radius: 30%;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 20px;
}

.red {
    background-color: crimson;
    color: floralwhite;
    border: solid 7px;
    border-color: darkred;
}

.blue {
    background-color: dodgerblue;
    color: floralwhite;
    border: solid 7px;
    border-color: blue;
}

.purple {
    background-color: mediumpurple;
    color: floralwhite;
    border: solid 7px;
    border-color: rebeccapurple;
}

.green {
    background-color: mediumseagreen;
    color: floralwhite;
    border: solid 7px;
    border-color: seagreen;
}

.orange {
    background-color: orange;
    color: floralwhite;
    border: solid 7px;
    border-color: darkorange;
}