body {
	font-family: "monospace", "Comic Sans MS", fantasy;
	color: blue;
}

#small {
    background-color: hsla(0,0%,0%,1);
    margin: 0px;
    font-family: fantasy, cursive;
    height: 20px;
}

canvas {
    width: 100%;
    height: 700px;
}

#ice {
  left: 50%;
  position: absolute;
  top: 25%;
  transform: translate( -50%, -50%);
  font-size:3em;
  color:hsla(255, 255%, 255%, .1);
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

h2{
        font-size: 1.1em;
        text-align: center;
}

img {
    margin-left: 20%;
}

button {
    font-family: monospace;
    color: chocolate;
}

ul{
    text-align: center;
    margin-left: auto;
	margin-right: auto;
	text-align: left;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}