body {
    font-family: "Marker Felt", "Comic Sans MS", fantasy;
    color: #003366;
}

body {
    background-image: url(https://www.betaarchive.com/imageupload/1304990899.or.90622.png)
}

h1 {
    font-size: 1.3em;
    text-align: center;
}

h2 {
    font-size: 3.1em;
    text-align: center;
}

h3 {
    padding: 50px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

strong {
    padding: 30px;
    border: 3px solid black;
    background:red
}

p {
    padding: 20px 0 20px 10px;
    margin-bottom: 5px;
    /* Add this */
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    cellspacing: 0px;
}

tr {
    border: 1px solid #ffffff;
    text-align: center;
    background-color: #9FB6CD;
}

th {
    text-align: center;
    color: #ffffff;
    background-color: #003366;
}
