@import "compass/css3";

@font-face {
  font-family: 'haymakerregular';
  src: url("https://dl.dropboxusercontent.com/u/6152966/fonts/haymaker/haymaker-webfont.eot");
  src: url("https://dl.dropboxusercontent.com/u/6152966/fonts/haymaker/haymaker-webfont.eot?#iefix") format("embedded-opentype"), url("https://dl.dropboxusercontent.com/u/6152966/fonts/haymaker/haymaker-webfont.woff") format("woff"), url("https://dl.dropboxusercontent.com/u/6152966/fonts/haymaker/haymaker-webfont.ttf") format("truetype"), url("https://dl.dropboxusercontent.com/u/6152966/fonts/haymaker/haymaker-webfont.svg#haymakerregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mission_scriptregular';
  src: url("https://dl.dropboxusercontent.com/u/6152966/fonts/mission/mission-script-webfont.eot");
  src: url("https://dl.dropboxusercontent.com/u/6152966/fonts/mission/mission-script-webfont.eot?#iefix") format("embedded-opentype"), url("https://dl.dropboxusercontent.com/u/6152966/fonts/mission/mission-script-webfont.woff") format("woff"), url("../fonts/mission/mission-script-webfont.ttf") format("truetype"), url("https://dl.dropboxusercontent.com/u/6152966/fonts/mission/mission-script-webfont.svg#mission_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'klinic_slablight';
  src: url("https://dl.dropboxusercontent.com/u/6152966/fonts/klinics/klinicslablight-webfont.eot");
  src: url("https://dl.dropboxusercontent.com/u/6152966/fonts/klinics/klinicslablight-webfont.eot?#iefix") format("embedded-opentype"), url("https://dl.dropboxusercontent.com/u/6152966/fonts/klinics/klinicslablight-webfont.woff") format("woff"), url("https://dl.dropboxusercontent.com/u/6152966/fonts/klinics/klinicslablight-webfont.ttf") format("truetype"), url("https://dl.dropboxusercontent.com/u/6152966/fonts/klinics/klinicslablight-webfont.svg#klinic_slablight") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: white;
  color: #777777;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
}
.main {
  background-color: white;
}
.header {
  background-color: #efefef;
  border: 1px solid #efefef;
  border-bottom: 2px solid gainsboro;
}
.header h1 {
  color: #ff7729;
}
.shoot {
  color: #efefef;
}
.shoot:hover {
  color: #00aae3;
}
h1 span.rock {
  font-family: "haymakerregular", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-size: 3.6rem;
}
h1 span.paper {
  font-family: "mission_scriptregular", Georgia, Times, "Times New Roman", serif;
  font-size: 48px;
  font-size: 4.8rem;
}
h1 span.scissors {
  font-family: "klinic_slablight", Georgia, Times, "Times New Roman", serif;
  font-size: 48px;
  font-size: 4.8rem;
}
.footer {
  background-color: #efefef;
  color: #777777;
  border-top: 2px solid gainsboro;
  border-bottom: 2px solid gainsboro;
}
.footer h2 {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 200;
  font-style: italic;
}
.footer address {
  font-size: 16px;
  font-size: 1.6rem;
  font-style: normal;
}
button.play {
  border-radius: 10px;
  border: 4px solid white;
}
button.play.rock {
  background: #efefef url("https://dl.dropboxusercontent.com/u/6152966/rock.png") no-repeat;
  background-size: 175px 175px;
}
button.play.paper {
  background: #efefef url("https://dl.dropboxusercontent.com/u/6152966/paper.png") no-repeat;
  background-size: 175px 175px;
}
button.play.scissors {
  background: #efefef url("https://dl.dropboxusercontent.com/u/6152966/scissors.png") no-repeat;
  background-size: 175px 175px;
}
button.play:hover {
  border: 4px solid #00aae3;
}
button#reset {
  font-size: 12px;
  font-size: 1.2rem;
  color: #777777;
  background-color: gainsboro;
  border-radius: 10px;
}
h2#results {
  color: #444444;
  font-size: 24px;
  font-size: 2.4rem;
}
p {
  font-size: 18px;
  font-size: 1.8rem;
}
.scorebox {
  background-color: #efefef;
  border: 4px solid #efefef;
  border-radius: 10px;
}
.scorebox h2 {
  color: #777777;
  font-weight: 600;
  font-size: 24px;
  font-size: 2.4rem;
}
span#loses,
span#wins {
  font-size: 48px;
  font-size: 4.8rem;
  color: #00aae3;
  font-family: "haymakerregular", Helvetica, Arial, sans-serif;
}
.score-divider span {
  font-size: 40px;
  font-size: 4rem;
  color: #00aae3;
  font-weight: 200;
}
div.score-num,
div.score-divider {
  font-size: 18px;
  font-size: 1.8rem;
  color: #777777;
  font-weight: 600;
  text-align: center;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
}
.header {
  position: relative;
  width: 100%;
  height: 110px;
  height: 11rem;
}
.header h1 {
  margin: 20px auto;
}
.main {
  width: 100%;
  min-height: 350px;
  min-height: 35rem;
  padding-top: 80px;
}
.footer {
  width: 100%;
  min-height: 100px;
  min-height: 10rem;
  height: auto;
  padding: 20px 0;
}
.footer h2 {
  margin: 0;
  padding: 0 0 5px 0;
}
.container {
  position: relative;
  width: 960px;
  width: 96rem;
  margin: 0 auto;
  padding: 0;
}
.content {
  width: 630px;
  width: 63rem;
  float: left;
}
.aside {
  width: 330px;
  width: 33rem;
  float: right;
}
.scorebox {
  box-sizing: border-box;
  width: 195px;
  width: 19.5rem;
  height: 175px;
  height: 17.5rem;
  padding: 5px;
  margin: 0 auto 15px auto;
}
.scorebox h2 {
  margin: 15px 0 10px 10px;
}
.score-num,
.score-divider {
  float: left;
}
.score-num {
  width: 40%;
}
.score-divider {
  width: 20%;
}
button .play {
  box-sizing: border-box;
  display: inline-block;
  width: 175px;
  width: 17.5rem;
  height: 175px;
  height: 17.5rem;
  padding: 5px;
  margin-right: 30px;
}
button #reset {
  width: 120px;
  width: 12rem;
  height: 35px;
  height: 3.5rem;
  line-height: 1em;
  float: right;
  margin-right: 105px;
  border: 0;
}
.header {
  position: relative;
  width: 100%;
  height: 110px;
  height: 11rem;
}
.header h1 {
  margin: 20px auto;
}
.footer {
  width: 100%;
  min-height: 100px;
  min-height: 10rem;
  height: auto;
  padding: 20px 0;
}
.footer h2 {
  margin: 0;
  padding: 0 0 5px 0;
}
button.play {
  box-sizing: border-box;
  display: inline-block;
  width: 175px;
  width: 17.5rem;
  height: 175px;
  height: 17.5rem;
  padding: 5px;
  margin-right: 30px;
}
button#reset {
  width: 120px;
  width: 12rem;
  height: 35px;
  height: 3.5rem;
  line-height: 1em;
  float: right;
  margin-right: 105px;
  border: 0;
}
.scorebox {
  box-sizing: border-box;
  width: 195px;
  width: 19.5rem;
  height: 175px;
  height: 17.5rem;
  padding: 5px;
  margin: 0 auto 15px auto;
}
.scorebox h2 {
  margin: 15px 0 10px 10px;
}
div.score-num,
div.score-divider {
  float: left;
}
div.score-num {
  width: 40%;
}
div.score-divider {
  width: 20%;
}
