body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
}
h3 {
  padding: 50px;
}
h3 {
  padding: 50px;
  border: 1px solid #5D6063;	
border-bottom: 1px solid #5D6063;
}
p {
  padding: 20px 0 20px 10px;
  margin-bottom: 50px;          
}
p {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
p {
  padding: 20px 0 20px 10px;
  margin-bottom: 50px;          /* Add this */
}
h1 {
	font-size: 1.3em;
	text-align: center;
}

h2{
        font-size: 1.1em;
        
}

table {
    
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}
<style>  
  td {color: #FF4456;}
</style>

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}