table {
	font-family: "Marker Felt", "Wild Words Roman", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {b
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th { 
	text-align: center;
	color: #ffffff;
	background-color: #003366;
} 
<html>
<head>
<style>
ul {
  list-style-image: url('sqpurple.gif');
}
</style>
</head>
<body> 
<h4> Unordered lists </h4>
<ul>
<li> Dog </li>
<li> Cat </li> 
<li> Mouse </li> 
</ul>