body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

h2 {
	font-size: 1.1em;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color: #9FB6CD;
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button1 {
	border-radius: 8px;
}

.button2 {
	border-radius: 30%;
}

.red {
	background-color: #ff0000;
}

.button3 {
	box-shadow: inset 0px -3px 7px 0px #29bbff;
	background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color: #2dabf9;
	border-radius: 3px;
	border: 1px solid #0b0e07;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	padding: 9px 23px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #263666;
}

.button4 {
	box-shadow: inset 0px 1px 0px 0px #fbafe3;
	background: linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	background-color: #ff5bb0;
	border-radius: 6px;
	border: 1px solid #ee1eb5;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #c70067;
}

.title {
	color: red;
	font-family: 'Trebuchet MS', sans-serif;
}

.title-large {
	font-size: 2rem;
}

.title-small {
	font-size: .5rem;
}

#morecontent {
	background-color: yellow;
}

#footer {
	font-size: 10px;
	margin: auto;
	width: 85%;
	border: 3px solid green;
	padding: 10px;
}

#main {
	background-color: aliceblue;
}

.content {
	box-shadow: -5px -5px 10px;
	margin: 7.5%;
	background-color: aliceblue;
	font-size: 25px;
}

div#face {
	width: 40vw;
	height: 40vw;
	max-width: 400px;
	max-height: 400px;
	margin: 0 auto;
	position: relative;
	background: rgb(0, 0, 0);
	margin-top: 2rem;
}

div#face, div#face * {
	border-radius: 30%;
}

.eye {
	width: 15%;
	height: 25%;
	background: #fff;
	position: absolute;
	top: 20%;
}

.left.eye {
	left: 25%;
}

.right.eye {
	right: 25%;
}

.pupil {
	background: rgb(0, 217, 255);
	width: 50%;
	height: 50%;
	position: relative;
	left: 25%;
	transform-origin: bottom;
}

#mouth {
	position: relative;
	width: 60%;
	left: 20%;
	height: 25%;
	border: 1vw solid transparent;
	border-radius: 50%;
	top: 50%;
	border-bottom-color: rgb(255, 255, 255);
}