* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#header {
    height: 100vh;
    background-image: url(sonic_the_hedgehog_logo.png);
    background-position: center;
    background-size: cover;
}

.container {
    margin-right: 100px;
    margin-left: 100px;
}

.logo {
    margin-top: 30px;
    width: 100px;
}

.header-text {
    max-width: 350px;
    margin-top: 140px;
}

h1 {
    font-size: 34px;
}

.square {
    height: 12px;
    width: 12px;
    display: inline-block;
    background: color blue;
    margin: 15px;
}

.common-btn {
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid color blue;
    font-weight: bold;
    cursor: pointer;
}

p {
    font-size: 20px;
    line-height: 18px;
    color: #0C090A;
}

.header-text button {
    margin-top: 10px;
    margin-bottom: 60px
}

.line-1 {
    width 15px;
    height: 15px;
    background: #f67c92;
    display: inline-block;
}

.line-2 {
    width 80px;
    height: 1px;
    background: #f67c92; 
    display: inline-block;
}

.line-3 {
    width 60px;
    height: 1px;
    background: #f67c92; 
    display: inline-block;
}

.line {
    line-height: 8px;
}

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #0000A0;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
#menuBtn{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer
}

/*--about--*/

#about{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap:  wrap;
}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 100%;
}
.about-right-col{
    flex-basis: 50%;
        text-align: right
}
.about-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}
.about-text h2{
    margin: 50px 0 10px;
    font-size: 28px;
    font-style: Italic;
}
.about-text h3{
    font-size: 20px;
    font-style: Italic;
    color: darkgray;
}
/*features*/

#features{
    padding-top: 50px;
    padding-bottom; 50px;
}
.feature-row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.feature-col{
    flex-basis: 25%;
    text-align: center;
    
}
.feature-col img{
    width: 100px;
}
.feature-col h4{
    margin-bottom: 15px;
        font-size: 20px;
        font-weight: 400;
}
.feature-btn{
    margin: 80px auto 0;
    display:flex;
    align-items:flex-end;
    justify-content: center;
}
.feature-btn .line{
    text-align: right;
    display: inline-block;
    margin-right: 25px;
} 

/*--courses--*/

#courses{
    padding: 100px 0;
}
.course-row{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
}
.course-right-col{
    flex-basis: 50%;
}
.course-right-col img{
    width: 100%;
}
.course-left-col{
    flex-basis: 50%;
    
}
.course-text{
    max-width: 360px;
}
.course-text button{
    margin: 30px 0;
}
/*--offer--*/
#offer{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap:  wrap;
}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 100%;
}
.about-right-col{
    flex-basis: 50%;
        text-align: right
}
.about-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}
.about-text h2{
    margin: 50px 0 10px;
    font-size: 28px;
    font-style: Italic;
}
.about-text h3{
    font-size: 20px;
    font-style: Italic;
    color: #0000A0;
}
#offer button{
    margin:30
}
/*--contact--*/
}
.contact-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.contract-left-col,.contact-right-col{
    flex-basis: 50%;
}
.contact-left-col img{
    width: 30%
}
form{
    max-width: 350px;
    margin: 30px 0;
}
form input{
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 5px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid #0000A0
}
.btn-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.btn-box button{
    flex-basis: 48%;
    padding: 18px 0; 
}
/* These Styles are for Games*/

#scratch-games h2 {
    color:#FFFFFF;
    text-align:left;
    
}
#Sonic-Games {
    color:#0000A0;
    text-align:right;
}
#Sonic-Engine{
    color:#0000A0;
    text-align:left;
}
/*--footer--*/
}
#footer{
    padding: 50px 0 30px;
}
hr{ 
width: 100%;
border: 0;
border-top: 1px solid #0000A0
}
.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left-col{
    flex-basis:50%
}
.footer-right-col{
    flex-basis:35%
}
}
