Ol {
	font-family: "Marker Felt", "Times New Romen", fantasy;
	color: #003366;
	font-size: 1.3em;


}
body {
	background-color: rgba(88, 175, 117, 0.657);
}

h1 {
	font-size: 2.3em;
	text-align: center;
}

h2 {
	font-size: 1.1em;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	padding: 10px;
}



  address {
	margin-bottom: 7777rem;
	font-style: normal;
	line-height: inherit;
  }
  .img-fluid {
	max-width: 100%;
	height: auto;
  }

  small,
.small {
  font-size: 80%;
  font-weight: 400;
}