dl {}

dd {
    margin: auto;
    padding: 1em 0;
    text-align: center;
    width: 500px;
}

dt {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2em;
    background: #e3e3e3;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid white;
    text-align: center;
    margin:auto;
    width: 500px;
}

dt:first-child {
    border-top: none;
    text-align: center;
}

dt:nth-last-child(2) {
    border-bottom: none;
    text-align: center;
}

.hide {
    display: none;
}
