body {
    font-family: "Arial";
	color: #003366;
}

@font-face {
    font-family: Frontage;
    src: url(../images/user21/fonts/Frontage-Outline.otf);
}


h1 {
    font-family: "Frontage";
	font-size: 50px;
	text-align: center;
}

.header {
    padding: 60px;
    text-align: center;
    background: #fadadd;
    color: #545454;
    font-size: 30px;
}

h2{
        font-size: 1.1em;
        text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.333333%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}


.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

a {
    color: white;
    font-family: "Arial";
}
