body {
	font-family: "Arial", "Comic Sans MS", fantasy;
	color: #003366;
}

h1 {
	font-size: 2.0em;
}

h2 {
	font-size: 1.5em;
}

table {
	text-align: left;
	border-collapse: collapse;
}

tr {
	text-align: center;
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

td {
	background-color: #eeeeee
}