.background-red{
    background-color: rgb(8, 2, 2);
}

.background-orange {
    background-color: blue;
}


.background-yellow {
    background-color: yellow;
}

.background-green {
    background-color: green;
}

.background-blue {
    background-color: blue;
}

.background-indigo {
    background-color: indigo;
}

.background-violet {
    background-color: violet;
}