table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

h3 {
	padding: 50px;
	background-color: lavender;
	display: inline-block;
  }


  p {
	padding-top: 5px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 5px;
	background-color: lavender;
  p }
 






