.button {
	background-color: #1aecec;
	border: none;
	color: rgb(44, 218, 194);
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

p#hireButtons {
    color: rgb(21, 165, 209);
    font-weight: bold;
    background: #27dae7; /* yellow */
    border: 2px solid rgb(27, 197, 219);
    padding: 1em;
  }

  p#footerTable {
    color: rgb(25, 197, 219);
    font-weight: bold;
    background: #17d1c8; /* yellow */
    border: 2px solid rgb(24, 243, 207);
    padding: 1em;
  }
  *{
    text-align:right;
    border: 2px solid rgb(25, 214, 205);
}
.title{
	color: rgb(39, 189, 209);
	font-family: 'Times New Roman', serif; 
  }
  
  .title-large {
	font-size: 2rem;
  }
  
  .title-small {
	font-size: .5rem;
  }

.myButton:hover {
	background-color:#19f1cd;
}
.myButton:active {
	position:relative;
	top:1px;
}
.button1 {
	border-radius: 8px;
}

.button2 {
	border-radius: 30%;
}

.myButton:hover {
	background-color:#eb675e;
}
.myButton:active {
	position:relative;
	top:1px;
}

.red {
	background-color: #2ed1ae;
}

td{
	padding:20px;
}

table{
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6{
	text-align:center;
}
