    body {
        font-family: "Marker Felt", "Comic Sans MS", fantasy;
        color: #003366;
    }

    h1 {
        font-size: 1.3em;
        text-align: center;
    }

    h2 {
        font-size: 1.1em;
    }

    table {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        border-collapse: collapse;
        cellspacing: 0px;
    }

    tr {
        border: 1px solid #ffffff;
        text-align: center;
        background-color: #9FB6CD;
    }

    th {
        text-align: center;
        color: #ffffff;
        background-color: #003366;
    }

    body {
        background: #808080;
        color: white;
    }

    .container {
        width: 100%;
    }

    .container h1 {
        text-align: center;
    }

    #runaway-container {
        position: absolute;
        width: 150px;
        margin: 0 auto;
        margin-top: 100px;
    }

    #runaway {
        width: 150px;
    }
