table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color: #9FB6CD;
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.Blue_button {
	box-shadow: inset 0px -3px 7px 0px #29bbff;
	background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color: #2dabf9;
	border-radius: 3px;
	border: 1px solid #0b0e07;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	padding: 9px 23px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #263666;
}

.Red_button {
	box-shadow: inset 0px 39px 0px -24px #e67a73;
	background-color: #e4685d;
	border-radius: 4px;
	border: 1px solid #ffffff;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	padding: 6px 15px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #b23e35;
}

.Brown_button {
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	background-color:#7d5d3b;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}









.button1 {
	border-radius: 8px;
}

.BR30 {
	border-radius: 30%;
}

.red {
	background-color: #ff0000;
}

td {
	padding: 20px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
}

.title {
	color: red;
	font-family: 'Trebuchet MS', sans-serif;
}

.title-large {
	font-size: 2rem;
}

.title-small {
	font-size: .5rem;
}