.navbar navbar-default {
    color: #FFFFFF;
    background-color: #CC3333;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Josefin Sans', sans-serif;
}
.navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}
.main-nav {
    list-style-type: none;
}
.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}