

/* Add a black background color to the top navigation */
.topnav {
   background-color: lightgray;
   overflow: hidden;
   font-weight: bold;
   font-family: "Verdana", sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
   float: left;
   color: #46343C;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
   background-color: lavender;
   color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
   background-color: lavender;
   color: #46343C;
}

.nav-item nav-link: hover {
    background-color: lavender;
   color: black; 
}

h1 {
   font-family: "Verdana", sans-serif;
   margin: 15px;
  text-align: left;
}

#div1, #div2, #div3, #div4 {
  width: 70px;
  height: 70px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  float: left;
}

img {
    float: left;
}

.b {
     background-color: lightcyan;
    border: none;
    color: black;
    padding: 10px;
    width: 100px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: left;
}   

.b:hover{
     box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.container {
    float: left;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 40%;
  height: 25%;
  border: 1px solid #ddd;

}

th {
  text-align: left;
  
font-weight:900;
  
}

td {
  text-align: left;
  
}

tr:nth-child(even) {
  background-color: lavender;
   
}

h2 {
    font-family: "Verdana", sans-serif;
}

#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: lightcyan;
  border: solid 1px #c3c3c3;
 width: 60%;
}

#panel {
  padding: 20px;
  display: none;
}

accordian {
    width: 600px; 
    
    
    
}


dd {
   
    padding: 5px;
    text-align: center;
}

dt {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2.2em;
    background: lightcyan;
    border-bottom: 1px solid lightcyan;
    border-top: 1px solid white;
    text-align: center;
}

dt:first-child {
    border-top: none;
}

dt:nth-last-child(2) {
    border-bottom: none;
}

img2 {
    float: left;
}


.ul {
    margin-left: 700px;
    font-size: 20px;
}

#hide, #show {
    background-color: lightcyan;
    /* Green */
    border: none;
    color: black;
    padding: 5px;
    width: 60px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#hide:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#show:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.info {
    background-color: lightcyan;
    /* Green */
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.info:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.typewriter {
    background-color: lightcyan;
    /* Green */
    border: none;
    color: black;
    padding: 10px;
    width: 120px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.typewriter:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

footer {
    margin:350px;
    margin-left: 600px;
}

.footer {
  margin: 600px;
    margin-left: 600px;  
}

#footer {
    margin: 250px;
    margin-left: 300px;
}