.body-wideMargin {
  margin: 50px;
  font-size: 100%;
  line-height: 1.5;
  font-family: Roboto;
}

button{
  padding:5px;
}

ol {

  list-style-type: decimal-leading-zero;
}

ol ol {
  margin-left: 0.9em;
}

ol li {

  line-height: 1.5;
}


h1 {
  font-family: "Marker Felt", "Wild Words Roman"
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  
}
 

h4 {
  text-align: center;
}




p {
  padding-top: 5px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 5px;
  background-color: lavender;
}
  
h3 {
  padding:100px;
  background-color: lavender;
  display: inline-block;
  border: 1px solid #5D6063;
  
} 

table {
	font-family: "Marker Felt", "Wild Words Roman", fantasy;
	
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {b
	border: 1px solid #ffffff;
	text-align: center;

}

th { 
	text-align: center;


} 


<!-- Custom styles for this template -->
<style type="text/css">
    menu {
        margin: 0;
        padding: 0;
    }

    .wideMargin {
        margin: 15px;
    }

    footer {
        font-size: 12px;
        text-align: center;
    }
</style> 

