
.menu-item {
    position: relative;
    margin-right:30px;
    color: #232323 ; 
}
.menu-item a {
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 12px;
    color: inherit;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    color: #fff;
    display: block;

}
.menu-item-has-children > a::after {
    font-family: "FontAwesome";
    content: "+";
    position: relative;
    margin-left: 5px;
    vertical-align: top;
    border: 0;
    width: auto;
    height: auto;
}
.main-menu ul.sub-menu > .menu-item-has-children > a::after {
    position: absolute;
    right: 20px;
}
.menu-item .sub-menu .menu-item{
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    margin: 0;
    position: relative;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.menu-item .sub-menu a {
    color: #000;
    font-size: 16px;
    display: block;
    padding: 8px 15px;
    margin: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    text-transform: capitalize;
    font-weight: 400;
}

.affix.sticky-menu {
    position: fixed;
    color: #000;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    z-index: 99;
    background-color: #fff;
    -webkit-animation: slideInDown;
    animation: slideInDown;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-box-shadow: 0 0 20px -7px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 20px -7px rgba(0, 0, 0, 0.6);
}
.slicknav_menu {
    display: none;
    background: transparent;
    padding: 16px 20px;
    text-align: left;
}
.slicknav_brand {
    float: left;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    padding: 0;
    height: auto;
    margin:20px 0;
}
.slicknav_menu {
    padding: 0;
}
.slicknav_btn {   
    margin: 26px 0;
    border-radius: 0;
    background-color: #5b77d8;
    padding: 8px;
    text-shadow: none;
}
.slicknav_menu .slicknav_icon{
    width: auto;
    height: auto;
}
.slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 0;
    padding: 0;
    box-shadow: none;
}
.header-four .affix.sticky-menu {
    background-color: #212331;
}
.slicknav_nav {
    clear: both;
    color: #fff;
    margin: 0;
    font-size: 16px;
    padding: 15px;
    font-weight: 500;
    background: #212331;
    text-transform: capitalize;
}
.slicknav_nav a {
    transition: all 0.3s ease;
}
.slicknav_nav a span{
    color: #fff;
    transition: all 0.3s ease;
}
.slicknav_nav a:hover,
.slicknav_nav .slicknav_row:hover,
.slicknav_nav a:hover span{
    background-color: transparent;
    color: #5b77d8;
}


@media (max-width: 991px){
    .menu-item .sub-menu a {
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
}
.slicknav_menu {
    display: block;
}
.mobile-menu img {
    width: 180px;
}
}
@media (min-width: 992px){
.menu-item a {
    color: #232323;
}
.menu{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-right: auto;
    -ms-flex-direction: row;
    flex-direction: row;
}
.main-menu ul ul ul {
    left: -100%;
    top: 0;
}
.sub-menu {
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);    
    position: absolute;
    top: 100%;
    z-index: 99999;
    background: #fff;
}
.menu-item .sub-menu .menu-item {
    background-color: #fff;
}
.sub-menu {
    display: block;
    position: absolute;
    min-width: 190px;
    width: auto;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    text-align: left;
    margin: 0;
    padding: 0;
    display: block;
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    font-size: 15px;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-box-shadow: 0 0 10px rgba(105, 105, 105, 0.1);
    box-shadow: 0 0 10px rgba(105, 105, 105, 0.1);
}
.menu-item-has-children:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}
.main-menu ul ul.sub-menu a{
    position: relative;
}
.navbar-nav .menu-item-has-children .menu-item:hover>a {
    color: #fff;
}
.navbar-nav .menu-item-has-children .menu-item:hover > a {
    padding-left: 20px;
}
.navbar-nav .menu-item-has-children  .menu-item:hover>a {
    background-color: #5b77d8;
}
.navbar-nav .menu-item a::before , .navbar-nav .current-menu-item a::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 2px;
    width: 0;
    height: 2px;
    opacity: 0;
    visibility: hidden;
    background: #5b77d8;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.navbar-nav .menu-item a.current:before, 
.navbar-nav .menu-item:hover a:before {
    width: 100%;
    opacity: 1;
    visibility: visible;
}
.navbar-nav .menu-item .sub-menu .menu-item a:before{
    display:none;
}
}

.current-menu-item a , .menu-item a:hover{
    color: #5b77d8;
}