@media (max-width: 1199px) {
    .con-top li {
        width: calc(100% / 2);
    }
    .ba-tab-content {
        height: 337px;
    }
    .header-two .navbar-nav .nav-item {
        margin-right: 26px;
    }
    .menu-one .navbar-nav .nav-item {
        margin-right: 37px;
    }
}

@media (min-width: 1200px) {
    .department-two-slider.owl-theme .owl-nav {
        position: absolute;
        top: 50%;
        margin-top: -20px;
        width: 100%;
    }
    .department-two-slider.owl-theme .owl-nav .owl-prev,
    .department-two-slider.owl-theme .owl-nav .owl-next {
        position: absolute;
        margin: 0;
    }
    .department-two-slider.owl-theme .owl-nav .owl-prev {
        left: -35px;
    }
    .department-two-slider.owl-theme .owl-nav .owl-next {
        right: -35px;
    }
    .container-serv {
        max-width: 1520px;
    }
}

@media (min-width: 1400px) {
    .feature-title {
        width: 20%;
    }
    .feature-slider-wrap {
        width: 80%;
    }
    .department-two-slider.owl-theme .owl-nav .owl-prev {
        left: -85px;
    }
    .department-two-slider.owl-theme .owl-nav .owl-next {
        right: -85px;
    }
}

@media (max-width: 991px) {
    .header-one .head-top,
    .header-one .menu-one {
        background-color: #fff;
    }
    .logo-six .logo, 
    .sticky-menu .logo-six .logo {
        line-height: 82px;
        position: relative;
        box-shadow: none;
        height: auto;
        width: auto;
        left: auto;
        transform: none;
        top: auto;
        padding: 0;
        background: transparent;
    }
    .logo-sticky, .logo-center, 
    .collapse.show .logo-six {
        display: none !important;
    }
    .menu-six .navbar-collapse .navbar-nav {
        padding: 0 20px !important;
    }
    .team-one::after {
        width: 100%;
    }
    .team-one::before {
        display: none;
    }
    .banner-content {
        margin: 0 0 93px;
    }
    .banner-content h1 {
        font-size: 35px;
    }
    .banner-content h2 {
        font-size: 25px;
    }
    .about-2::after {
        display: none;
    }
    .abt2-content {
        padding: 0;
        box-shadow: none;
    }
    .feature-title::after {
        display: none
    }
    .features-3 {
        display: block;
    }
    .feature-title {
        width: 100%;
        padding: 100px 20px 30px;
    }
    .feature-slider-wrap {
        width: 100%;
    }
    .filter-btn {
        border-radius: 30px;
    }
    .vid-counter {
        overflow: visible;
    }
    .vid-float .vid-btn {
        right: auto;
    }
    .vid-float::after,
    .vid-float::before {
        width: 100%;
        border-radius: 0;
    }
    .fc-timetable-wrapper .fc-day-header {
        font-size: 10px;
    }
    .fc .fc-axis {
        padding: 0;
    }
    .fc-timetable-wrapper td.fc-time span {
        font-size: 10px;
    }
    .fc-timetable-wrapper .fc-time-grid-event .fc-time,
    .fc-timetable-wrapper .fc-time-grid-event .fc-title {
        font-size: 10px;
    }
    .fc-timetable-wrapper .fc-event .fc-content {
        padding: 15px 0;
    }
    .fc-timetable-wrapper .filter-departments a {
        padding: 5px 15px;
        font-size: 14px;
    }
    .navbar-nav .nav-item .mega-heading{
        color: #00adef;
        padding: 10px;
        display: block;
        pointer-events: none;
    }
    .ba-tab-content {
        height:381px;
    }
    .con-top li {
        width: calc(100% / 3);
    }
    .navbar,
    .menu-two .navbar {
        padding: 0;
    }
    .header-four .navbar-nav .nav-item:hover .nav-link, 
    .header-four .navbar-nav .nav-item .nav-link.current {
        color: #fff;
    }
    .apointment-home::before,
    .apointment-home::after{
        height: 100%;
        top: 0;
        bottom: 0
    }
    .appoint-content {
        padding: 0;
        margin-bottom: 50px
    }
    .apointment-home{
        padding: 100px 0;
    }
    .service5-nav {
        display: none;
    }
    .theme-slider .slide-item::after {
        width: 1000px;
    }
    .theme-slider .slide-item::before {
        width: 1100px;
    }
    .theme-slider .slide-content h2 {
        max-width: 450px;
        font-size: 40px;
    }
}

@media (min-width: 992px) {
    
    .logo-one .logo:before,
    .logo-one .logo:after {
        background-color: #fff;
        content: "";
        position: absolute;
        bottom: 0;
        height: 120%;
        z-index: -1;
    }
    .logo-one .logo:before {
        right: -50px;
        width: 80%;
        -webkit-transform: skew( 30deg);
        -moz-transform: skew( 30deg);
        -o-transform: skew( 30deg);
        -ms-transform: skew( 30deg);
        transform: skew(30deg);
    }
    .logo-one .logo:after {
        right: 0;
        width: 2000px;
    }
    .head-top-one {
        border-bottom: 1px solid #6a6c6e;
    }

    .filter-btn:first-child {
        border-radius: 30px 0 0 30px;
    }
    .filter-btn:last-child {
        border-radius: 0 30px 30px 0
    }
    .sub-comm {
        margin-left: 100px;
    }
    .contact-us .map,
    .contact-right {
        width: 50%;
    }
    
    .contact-us #theme-map {
        height: 100%;
    }
    .contact-right {
        max-width: 700px;
    }    
    .service5-slider.owl-theme .owl-dots {
        display: none;
    }
}

@media (max-width: 767px) {
    .slide-content h2 {
        font-size: 35px;
        max-width: 100%;
    }
    .slide-content p {
        display: none;
    }
    .slide-content .btn {
        font-size: 14px;
    }
    .icon-box {
        font-size: 100px;
        display: block;
    }
    .help-contact {
        display: block;
        vertical-align: middle;
        padding-left: 0;
    }
    .aut-img,
    .aut-content,
    .com-img,
    .comm-content {
        display: block;
    }
    .aut-social {
        border-radius: 5px;
    }
    .comm-content {
        padding-left: 0;
        margin-top: 20px;
    }
    .comm-content h5 {
        float: none;
        display: block;
    }
    .comm-content span {
        float: none;
    }
    .contact-right {
        padding: 100px 40px;
    }
    .con-top li {
        width: calc(100% / 2);
    }
    .fc-timetable-wrapper .fc-day-header,
    .fc-timetable-wrapper td.fc-time span,
    .fc-timetable-wrapper .fc-time-grid-event .fc-time, 
    .fc-timetable-wrapper .fc-time-grid-event .fc-title {
        font-size: 8px;
    }
    .ba-tab-content {
        height:282px;
    }
    .slide-content p {
        display: none;
    }
}

@media (max-width: 575px) {
    .con-top li {
        width: 100%;
    }
    .testi-item {
        position: relative;
        padding: 20px;
    }
    .client-thumb {
        display: block;
        padding-right: 0;
    }
    .client-info {
        display: block;
        margin-top: 20px;
    }
    .partner-section ul li {
        margin: 5px;
        width: calc((100% - 20px) / 2);
    }
    .ba-tab-content {
        height:280px;
    }
    .main-slider .theme-slider.owl-theme .owl-nav.disabled+.owl-dots {
        bottom: 20px;
        transform: translatex(50%);
        right: 50%;
    }
    .main-slider .theme-slider.owl-theme .owl-dots .owl-dot {
        display: inline-block;
        margin: 0 5px;
    }
}
@media (max-width: 500px) {
    .ba-tab-content {
        height:200px;
    }

}
@media (max-width: 400px) {
    .ba-tab-content {
        height:180px;
    }

}
@media (max-width: 300px) {
    .ba-tab-content {
        height:150px;
    }

}
@media (min-width: 576px) {
    .partner-section ul li:nth-child(1) {
        border-top: transparent;
        border-left: transparent;
        border-bottom: transparent;
    }
    .partner-section ul li:nth-child(2) {
        border-top: transparent;
        border-left: transparent;
        border-bottom: transparent;
    }
    .partner-section ul li:nth-child(3) {
        border: transparent;
    }
    .partner-section ul li:nth-child(4) {
        border-left: transparent;
        border-bottom: transparent;
    }
    .partner-section ul li:nth-child(5) {
        border-bottom: transparent;
        border-left: transparent;
    }
    .partner-section ul li:nth-child(6) {
        border-bottom: transparent;
        border-right: transparent;
        border-left: transparent;
    }
}
@media  (max-width: 575px) and (min-width:400px){
   .department-3-tab.col-12 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}