

body {
  font-family: "Marker Felt", "Comic Sans MS", fantasy;
  color: #003366;
  background-image: url(../images/musicnote.jpg);
}

h1 {
  font-size: 1.3em;
  text-align: center;
}

h2 {
  font-size: 1.1em;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-collapse: collapse;
  cellspacing: 0px;
}

tr {
  border: 1px solid #ffffff;
  text-align: center;
  background-color: #9fb6cd;
}

th {
  background: url(../images/Banner1.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  background-color: #003366;
}
.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  border-radius: 30%;
}

.red {
  background-color: #ff0000;
}
.myButton {
  box-shadow: inset 0px 1px 0px 0px #bee2f9;
  background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
  background-color: #63b8ee;

  display: inline-block;
  cursor: pointer;
  color: #14396a;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #7cacde;
}
.button_border {
  border-radius: 8px;
  border: 1px solid #3866a3;
}

.myButton2 {
  box-shadow: inset 0px 1px 0px 0px #7a8eb9;
  background: linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
  background-color: #637aad;
  border: 1px solid #314179;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
}

title {
  color: red;
  font-family: "Trebuchet MS", sans-serif;
}

.title-large {
  font-size: 2rem;
}

.title-small {
  font-size: 0.5rem;
}
#morecontent {
  background-color: yellow;
}

#footer {
  font-size: 10px;
  margin: auto;
  width: 85%;
  border: 3px solid green;
  padding: 10px;
}

#main {
  background-color: rgb(240, 252, 255);
  font-size: 16px;
}
* {
  text-align: center;
  font-family: sans-serif;
}
.content {
  box-shadow: -5px -5px 10px;
  margin: 7.5%;
  background-color: rgb(240, 252, 255);
  font-size: xx-large;
}
div#face {
  width: 40vw;
  height: 40vw;
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
  position: relative;
  background: yellow;
  margin-top: 2rem;
}

div#face,
div#face * {
  border-radius: 50%;
}

.eye {
  width: 25%;
  height: 25%;
  background: #fff;
  position: absolute;
  top: 20%;
}

.left.eye {
  left: 20%;
}

.right.eye {
  right: 20%;
}

.pupil {
  background: #000;
  width: 50%;
  height: 50%;
  position: relative;
  left: 25%;
  transform-origin: bottom;
}

#mouth {
  position: relative;
  width: 60%;
  left: 20%;
  height: 25%;
  border: 1vw solid transparent;
  border-radius: 50%;
  top: 50%;
  border-bottom-color: #000;
}
BODY {
  height: 100%;
}

.webcoderskull {
  font-size: 0.5em;
}

svg {
  position: relative;
  width: 50%;
  height: 50%;
   background: #000;
  background-size: 0.005em 100%;
  font: 16em/1 Arial;
}

.webcoderskull-1 {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  -webkit-animation: stroke-offset 7s infinite linear;
          animation: stroke-offset 7s infinite linear;
}
.webcoderskull-1:nth-child(1) {
  stroke: #360745;
  stroke-dashoffset: 7%;
}
.webcoderskull-1:nth-child(2) {
  stroke: #d61c59;
  stroke-dashoffset: 14%;
}
.webcoderskull-1:nth-child(3) {
  stroke: #e7d84b;
  stroke-dashoffset: 21%;
}
.webcoderskull-1:nth-child(4) {
  stroke: #efeac5;
  stroke-dashoffset: 28%;
}
.webcoderskull-1:nth-child(5) {
  stroke: #1b8798;
  stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}
