@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Notable&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Varela+Round&display=swap');
.body-wideMargin {
  margin: 50px;
  font-size: 100%;
  line-height: 1.5;
  font-family: Roboto;
}

button {
  padding: 5px;
}

ol {
  list-style-type: decimal-leading-zero;
}

ol ol {
  margin-left: 0.9em;
}

ol li {
  line-height: 1.5;
}

h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

table {
  font-family: "Marker Felt", "Comic Sans MS", fantasy;
  color: #003366;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: collapse;
  cellspacing: 0px;
}

tr {
  border: 1px solid #000000;
  text-align: center;
  background-color: #6cf1f1;
}

th {
  text-align: center;
  color: #ffffff;
  background-color: #003366;
}



