table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color: #9FB6CD;
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button1 {
	border-radius: 8px;
}

.button2 {
	border-radius: 30%;
}

.red {
	background-color: #ff0000;
}

td {
	padding: 20px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

.coolredbutton {
	background-color: #44c767;
	border-radius: 28px;
	border: 1px;
	color: #18ab29;
	display: inline-block;
	cursor: pointer;
	color: red;
	font-family: Arial;
	font-size: 23px;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
}

.coolredbutton:hover {
	background-color: #5cbf2a;
}

.coolredbutton {
	position: relative;
	top: 1px;
}

.button4 {
	background-color: #44c767;
	border-radius: 6px;
	border: 9px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 18px;
	padding: 19px 31px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
}

.button4:hover {
	background-color: #5cbf2a;
}

.button4:active {
	position: relative;
	top: 1px;
}

#morecontent {
	background-color: yellow;
}

.title {
	color: red;
	font-family: 'Trebuchet MS', sans-serif;
}

.title-large {
	font-size: 2rem;
}

.title-small {
	font-size: .5rem;
}
.buttonhireme{
	font-size: large;
}

#button button1{
	color: #003366;
}
*{
	color: #00ff00;
}
