table {
    font-family: "Marker Felt", "Comic Sans MS", fantasy;
    color: #003366;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0px;
}
body
{ background-color: rgb(0, 132, 255);}


tr {
    border: 1px solid #ffffff;
    text-align: center;
    background-color: #0E2BFF;
}

th {
    text-align: center;
    color: #ffffff;
    background-color: #565e66;
}

ul {
    list-style-image: url('http://www.simpleimageresizer.com/_uploads/photos/f2692232/underrated-lipless-crankbaits-3_1_32x32.jpeg');
}



#fish div a img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

}
.portrait {
    height: 80px;
    width: 30px;
}

.landscape {
    height: 30px;
    width: 80px;
}

.square {
    height: 75px;
    width: 75px;
}