body {
	font-family: "Marker Felt", "Helvetica", fantasy;
	color: #6094a8;
	background-image: url(../images/ec1e9b7d1d7d53313f964a7c83d86c01ecdfdb1er1-568-367v2_00.jpg)
	
}

h1 {
	font-size: 1.5em;
	text-align: center;
}

h2{
		font-size: 1.3em;
		text-align: center
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #9d9d9d77;
	text-align: center;
	background-color:#8090a0; 
}

th {
background: url(../images/Banner1.jpeg) no-repeat center center;
background-size: cover;
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}