body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
     background-image: url("images/User13/stone.png");

      background-color: #666666;

  background-size: cover;
	color: #003366;
}

h1 {
	font-size: 1.3em;
}

h2{
        font-size: 1.1em;
}
.a {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

.a td, .a th {
  border: 1px solid black;
  padding: 4px;
}

.a tr:nth-child(even){background-color: #f2f2f2;}

.a tr:nth-child(odd){background-color: #deb887;}

.a tr:hover {background-color: #ddd;}

.a th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #003B6F;
  color: white;
}

#page {
    
        background-image:url("images/User13/bg.jpg");

}

.page{
        background-image:url("images/User13/bg.jpg");

}

.b {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
    width: 100%;
	border-collapse: collapse;
}

.b tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

.b th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}


.a2:link, .a2:visited {
  background-color: #4286f4;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.a2:hover, .a2:active {
  background-color: blue;
  font-weight: bold;
}

.acurrent:link, .acurrent:visited {
  background-color: #393e93;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.acurrent:hover, .acurrent:active {
  background-color: #2d3173;
}








