body {
	font-family: "Georgia", "Comic Sans MS", fantasy;
	color: #000000;
}

h1 {
	font-size: 1.3em;
	text-align: center;
    font-family: "Comic Sans MS"
}

h2{
        font-size: 1.1em;
        text-align: center;
        font-family: "marker felt";
}

h3{
        font-size: 1.1em;
        text-align: left;
        font-family: "marker felt";
}

table.tableb {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-collapse: collapse;
	cellspacing: 0px;
    font-family: "Times New Roman";
    color: #ffffff;
}

table.tableb tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#cc3300; 
}

table.tableb th {
	text-align: center;
	color: #ffffff;
	background-color: #000000;
}

table.tablea {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-collapse: collapse;
	cellspacing: 0px;
    font-family: "Times New Roman"
}

table.tablea tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

table.tablea th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
