body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

h2{
        font-size: 1.1em;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 5px solid #FFFFFF;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

td {
	
	color:#0F0FA0;
	background-color:#696969;'

}