body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	text-align: center;
	color: #003366;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREebQOwF6cMyZ79Y3Pkjca80KHFOpVthrdUg&usqp=CAU)
	background-repeat: 5;
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

h2{
		font-size: 1.1em;
		text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}