table {
    font-family: "baskerville", "Comic Sans MS", fantasy;
    color: #ffffff;
    margin-left: normal;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0px;
}

tr {
    border: 1px solid #000000;
    text-align: center;
    background-color: #4291e1;
}

th {
    text-align: center;
    color: #b2ffb1;
    background-color: #1560ac;
}

ul {
    list-style-image: url(https://www.gifs.cc/anibul1c.gif);
}

#album {
    background-image: url('../images/ab67616d0000b27343fb2aaca81e77ee2af0ebbc.jpeg');
}