body {
	font-family: "Marker Felt", "Sans Serif", fantasy;
	color: #14252b;
	background-image: url(../images/WebDevUser28c.jpg);
	background-size: cover;
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

h2{
		font-size: 1.1em;
		text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#8bbea7; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #4b7060;
	background: url(../images/BannerBackground.jpg) no-repeat center center;
background-size: cover;
}