.body-wideMargin {
    margin: 50px;
    font-size: 100%;
    line-height: 1.5;
    font-family: Roboto;
}

button {
    padding: 5px;
}

ol {
    list-style-type: decimal-leading-zero;
}

ol ol {
    margin-left: 0.9em;
}

ol li {
    line-height: 1.5;
}

li li {
    list-style-type: lower-alpha;
}

li li li {
    list-style-type: square;
}

li li li li {
    list-style-type: circle;
}

h1 {
    font-family: "Fjalla One", sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: 1px solid black;
    margin-bottom: 1em;
} 


* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #f2f2f2;
  }
  
  canvas {
    display:block;
    margin: 40px auto 20px;
    border: 1px solid #333;
    box-shadow: 0 0 16px 2px rgba(0,0,0,0.8);
  }
  
  p, a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 19px;
    color: #777;
    display: block;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    text-decoration:none;
  }
  
  .info {
    margin:14px auto;
    text-align: justify;
    font-size: 18px;
    color: #999;
  }
  
  a {
    color:#3377ee;
  } 

  