body {
    width: 500px;
	
    margin: auto;
    text-align: center;
}
dl {
	
}

dd {
    margin: 0;
	
    padding: 1em 0;
    
    font-weight: bold;
    font-size : 1.0em;
    line-height: 2em;
    
    color: forestgreen;
}

dt {
    cursor: pointer;
    
	
    font-weight: bold;
    font-size : 1.5em;
    line-height: 2em;
    background: lightblue;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid white;
}

dt:first-child { border-top: none; }
dt:nth-last-child(2) { border-bottom: none; }

.hide { display: none;}