table {
    font-family: "Marker Felt", "Comic Sans MS", fantasy;
    color: #003366;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0px;
}

tr {
    border: 1px solid #ffffff;
    text-align: center;
    background-color: #9FB6CD;
}

th {
    text-align: center;
    color: #ffffff;
    background-color: #003366;
}