body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	background-color: #ff6868
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

h2{
        font-size: 1.1em;
        text-align: center;
}

h3{
	text-align: center;
}

h5{
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

#slider-nav { 
	display: none; 
	margin-top: 1em;
}

#slider-nav button {
	padding: 1em;
	margin-right: 1em;
	border-radius: 10px;
	cursor: pointer;
}

.slider {
	width: 500px;
	height: 500px;
	overflow: scroll;
}

.slider ul {
	width: 15000px;
	list-style: none;
}

.slider li {
	float: left;
}

	#contact { 
		background: #e3e3e3; 
		padding: 1em 2em; 
		position: relative;
		width: 600px;
		margin: auto;
		font-family: sans-serif;
	}
	.js #contact {
		position: absolute;
		top: 0;
		width: inherit;
		display: none;
	}	
	#review {
		background: #e3e3e3;
		padding: 1em 2em;
		position: relative;
	}
	.js #review {
		position: absolute;
		top: 0;
		width: inherit;
		display: none;
	}
	#contact h2 { margin-top: 0; }
	#contact ul { padding: 0; }
	#contact li { 
		list-style: none;
		margin-bottom: 1em;
	}
	/* Close button on form */
	.close {
		position: absolute;
		right: 10px;
		top: 10px;
		font-weight: bold;
		font-family: sans-serif;
		cursor: pointer;
	}	
	/* Form inputs */
	input, textarea { width: 100%; line-height: 2em;}
	input[type=submit] { width: auto;  }
	label { display: block; text-align: left; }