#slider-nav { 
/*	display: none; */
	margin-top: 1em;
}

#slider-nav button {
	padding: 1em;
	margin-right: 1em;
	border-radius: 10px;
	cursor: pointer;
}

.slider {
	width: inherit;
	height: 400px;
	overflow: scroll;
}

.slider ul {
	width: 10000px;
	list-style: none;
}

.slider li {
	float: left;
}


body {
    font-family: "Arial";
	color: #003366;
}

h1 {
    font-family: "Helvetica";
	font-size: 50px;
	text-align: center;
}

.header {
    padding: 60px;
    text-align: center;
    background: #fadadd;
    color: #545454;
    font-size: 30px;
}

h2{
        font-size: 1.1em;
        text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.333333%;
}

.tablink:hover {
    background-color: #777;
}


.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

a {
    color: white;
    font-family: "Arial";
}

button {
display: block; margin: 0 auto;
/*    width: 500px;*/
    font-size: 20px;
}

#contact { 
		background: #e3e3e3; 
		padding: 1em 2em; 
		position: relative;
	}
        
    #message { 
		background: #e3e3e3; 
		padding: 1em 2em; 
		position: relative;
	}
	.js #contact {
		position: absolute;
		top: 0;
		width: inherit;
		display: none;
	}	
    
    .js #message {
		position: absolute;
		top: 0;
		width: inherit;
		display: none;
	}	
	#contact h2 { margin-top: 0; }
	#contact ul { padding: 0; }
	#contact li { 
		list-style: none;
		margin-bottom: 1em;
	}
        
    #message h2 { margin-top: 0; }
	#message ul { padding: 0; }
	#message li { 
		list-style: none;
		margin-bottom: 1em;
	}
        
	/* Close button on form */
	.close {
		position: absolute;
		right: 10px;
		top: 10px;
		font-weight: bold;
		font-family: sans-serif;
		cursor: pointer;
	}	
	/* Form inputs */
	input, textarea { width: 100%; line-height: 2em;}
	input[type=submit] { width: auto;  }
	label { display: block; text-align: left; }