body {
	font-family: "Serif", "Times New Roman Georgia", fantasy;
	color: #0000ff;
	background-color: #0000ff;
}
h1 {
	font-size: 1.3em;
	text-align: center;
	color: #ffffff;
}

h2{
        font-size: 1.1em;
        text-align: center;
}

.sunflower {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
    border-collapse: collapse;
    border-bottom: 1px solid #0000ff;
	cellspacing: 0px;
}
.crystal {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-top: 1px solid #0000cc;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#ffffff; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: green;
    
}
blockquote.lo {
    float: inherit;
    font-size: 2em;
    width: auto;
    text-align: center;
    text-decoration: underline;
}
article {
    width: 300px;
    margin: auto;
            
}
#contact { 
	background: "ori.jpg"; 
	padding: 1em 2em; 
	position: relative;
    border: 1px solid red;
    color: white;
}
.js #contact {
    position: absolute;
	top: auto;
    width: inherit;
	display: none;
}	
#contact h2 { margin-top: 0; }
#contact ul { padding: 0; }
#contact li { 
    list-style: none;
	margin-bottom: 1em;
}
	/* Close button on form */
.close {
    position: absolute;
	right: 10px;
    top: 10px;
	font-weight: bold;
    font-family: sans-serif;
	cursor: pointer;
}	
button {
    margin-left: 675px;
}
