h3 {
  padding: 50px;
  border-bottom: 7px solid #5D6063;
    border-right: 30px solid #5D6063;
}
strong {
  padding: 100px;
    border:1px solid #5D6063;
    background-color: fuchsia;
}
p {
  padding: 20px 0 20px 10px;
  margin-bottom: 50px;          /* Add this */
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

h2{
        font-size: 1.1em;
        text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
}