html {


  }
body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #ffffff;
	background: url(../images/music_background.png) no-repeat center center fixed;
	background-size:75% 90vh;
	width: 100%;
}

h1 {
	background: url(../images/banner2.jpg) no-repeat center center;
	background-size: contain;
	font-size: 1.3em;
	text-align: center;
}

h2{
	background: url(../images/banner2.jpg) no-repeat center center;
	background-size: cover;
		font-size: 1.1em;
		text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	background: url(../images/banner1.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}