body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

h2 {
	font-size: 1.1em;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color: #9FB6CD;
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.welcome {
	border-radius: 40%;
	text-align: center;
	background-color: #2011f6;
}

.button-mediumRadius {
	border-radius: 60%;
}

.red {
	background-color: #ff0000;
}

.aheedbutton {
	background-color: #b068c2;
}

.gettoknowme {
	background-color: #773f00;
}

.myButton:hover {
	background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color: #6c7c7c;
}

.myButton:active {
	position: relative;
	top: 1px;
}

#morecontent {
	background-color: yellow;
}

#somemorecontent {
	background-color: rgb(175, 52, 99);
	font-size: 20px;
}

#footer {
	font-size: 20px;
	margin: auto;
	width: 85%;
	border: 3px dotted rgb(216, 167, 31);
	padding: 10px
}

#main {
	font-size: 16px;
	background-color: rgb(131, 233, 251);
}

#toptitle {
	color: #4CAF50;
}

* {
	text-align: center;
	padding: 1px;
}

div#face {
	width: 60vw;
	height: 60vw;
	max-width: 400px;
	max-height: 400px;
	margin: 0 auto;
	position: relative;
	background: rgb(123, 11, 214);
	margin-top: 2rem;
}

div#face, div#face * {
	border-radius: 30%;
}

.eye {
	width: 25%;
	height: 25%;
	background: rgb(6, 7, 1);
	position: absolute;
	top: 20%;
}

.left.eye {
	left: 67%;
}

.right.eye {
	right: 67%;
}

.pupil {
	background: rgb(9, 155, 65);
	width: 50%;
	height: 50%;
	position: relative;
	left: 25%;
	transform-origin: top;
}

#mouth {
	position: relative;
	width: 60%;
	left: 20%;
	height: 25%;
	border: 1vw solid transparent;
	border-radius: 10%;
	top: 50%;
	border-bottom-color: #000;
}