body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #ffffff;
	background-image: url("a");
}

h1 {
	font-size: 2.3em;
	text-align: center;
}


h2 {
	font-size: 1.1em;
}

text-align center table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
}



tr {
	border: 4px solid #000000;
	text-align: center;
	background-color: #ffffff;
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

body{
background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(253, 253, 253, 0.5)),
  url('https://mdn.mozillademos.org/files/7693/catfront.png');
}



  				
				
			