table {
	font-family: "Helvetica", "sans-serif", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

body {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRP1BW6m7D54kq8StMgsXX7-t_UbBEH2IzhNQ&usqp=CAU");
   }