body {
    margin: 0%;
    background-color: rgb(56, 56, 56);
}

menu {
    padding: 0%;
    margin-bottom: 16px;
    margin-top: 0px;
}

.navbar2 {
    background-color: rgb(56, 56, 56);
    border-bottom: 3px solid rgb(146, 146, 146);
    position: center;
}

h1 {
    color: rgb(62, 107, 137);
}

h2 {
    color: rgb(146, 146, 146);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.342);
    transition: 0.3s;
    width: 10%;
    margin: 0%;
    margin-bottom: 50px;
    display: inline-block;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.829);
}

footer table {
    margin-left: auto;
    margin-right: auto;
}

footer td {
    width: 60px;
    padding: 10px;
    border: double 3px rgba(100, 100, 100, 0.603);
}

footer {
    margin-top: 20px;
    border-top: 3px solid black;
    background-color: rgb(146, 146, 146);
    color: rgb(170, 170, 170);
}

footer div ul li a {
    color: rgb(37, 78, 105);
    text-decoration: underline;
}

label {
    color: rgb(62, 107, 137);
}

.report-container {
    border: #E0E0E0 1px solid;
    padding: 10px 20px 20px 20px;
    border-radius: 2px;
    width: 300px;
    margin: 0 auto;
    background-color: darkgrey;
}

.weather-icon {
    vertical-align: middle;
    margin-right: 20px;
}

.weather-forecast {
    color: #212121;
    font-size: 1.2em;
    font-weight: bold;
    margin: 20px 0px;
}

span.min-temperature {
    margin-left: 15px;
    color: black;
}

.time {
    line-height: 25px;
}