h3 {
    padding: 50px;
    border-bottom: 1px solid #5D6063;
    border-right: 1px solid #5D6063;
    border-left: 1px solid #5D6063;
    border-top: 1px solid #5D6063;
}

body {
    font-family: "Marker Felt", "Comic Sans MS", fantasy;
    color: #003366;
}

h1 {
    font-size: 1.3em;
    text-align: center;
}

h2 {
    font-size: 1.1em;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    cellspacing: 0px;
}

tr {
    border: 1px solid #ffffff;
    text-align: center;
    background-color: #9FB6CD;
}

th {
    text-align: center;
    color: #ffffff;
    background-color: #003366;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  border-radius: 8px;
}

.button2 {
  border-radius: 30%;
}

.red { 
   background-color: #ff0000;
}