body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

h2 {
	font-size: 1.1em;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color: #9FB6CD;
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button:hover {
	background-color: darkcyan;
}

.buttonradius8px {
	border-radius: 8px;
}

.buttonradius30percent {
	border-radius: 30%;
}

.red {
	background-color: red;
}

.title {
	color: red;
	font-family: 'Trebuchet MS', sans-serif;
}

.title-large {
	font-size: 2rem;
}

.title-small {
	font-size: .5rem;
}

#morecontent {
	background-color: yellow;
}

#main {
	background-color: rgb(255, 255, 255);
	font-size: 16px;
}

* {
	margin: 2px;
}

.content {
	box-shadow: -5px -5px 10px;
	margin: 7.5%;
	background-color: rgb(0, 255, 255);
	font-size: 10px;
}

div#face {
	width: 40vw;
	height: 40vw;
	max-width: 400px;
	max-height: 400px;
	margin: 0 auto;
	position: relative;
	background: yellow;
	margin-top: 2rem;
}

div#face, div#face * {
	border-radius: 50%;
}

.eye {
	width: 25%;
	height: 25%;
	background: #fff;
	position: absolute;
	top: 20%;
}

.left.eye {
	left: 20%;
}

.right.eye {
	right: 20%;
}

.pupil {
	background: #000;
	width: 50%;
	height: 50%;
	position: relative;
	left: 25%;
	transform-origin: bottom;
}

#mouth {
	position: relative;
	width: 60%;
	left: 20%;
	height: 25%;
	border: 1vw solid transparent;
	border-radius: 50%;
	top: 50%;
	border-bottom-color: #000;
}