#customize-controls .control-section-healthexx .accordion-section-title:hover,
#customize-controls .control-section-construction-zone .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-healthexx .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
	background: linear-gradient(45deg,#1973e2,#3aabbd);
	color: #fff;
	border:0px solid #fff;
}

.rtl .control-section-healthexx .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
