@import url(rainbow.css);
.title {
	color: red;
	font-family: 'Trebuchet MS', sans-serif;
}

.title-large {
	font-size: 2rem;
}

.title-small {
	font-size: .5rem;
}

table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color: #9FB6CD;
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

.whitebutt {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.RectButt {
	border-radius: 8px;
}

.RoundedButt {
	border-radius: 30%;
}

.RedButt {
	background-color: #ff0000;
}

.PillButt {
	background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color: #44c767;
	border-radius: 28px;
	border: 1px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	font-style: italic;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0px 4px 2px #2f6627;
}

.CircleButt {
	border-radius: 100%;
}

.YellowButt {
	background-color: #e9e62c;
}

td {
	padding: 20px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

h2 {
	white-space: nowrap
}

#knowledge>* {
	border: 3px red solid;
}

p+p {
	background-color: #ffff00;
}

ul li::marker {
	color: red;
	font-weight: bold;
}

div>li::marker {
	content: "😇 ";
}
#javaScript{
	color: rgb(0, 4, 255);
	font-weight: bold;
}
*{
    font-weight:bold;
}