body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: whitesmoke;
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

h2{
        font-size: 1.1em;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	
	background-color:#9FB6CD; 
}

th {

	color: #ffffff;
	background-color: #003366;
}

.table-bordered {
	border: 1px solid #dee2e6;
  }

.menu {
	margin: 0px;
}

.wideMargin {
	margin: 15px;
}

#footer {
	font-size: 12px;
	text-align: center;
}

p.solid {border-style: solid;
color: rgb(0, 0, 0);
}

p.basic { 
	color: whitesmoke;
}

.hidden {
    display: none;
}