body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
    

        
        
        
    }
body.NIGHT{
    
background: darkblue;
color: darkblue;
}

body.DAY{
    
background: lightblue;
color: aqua;
}

body.FAQ{
    
     width: 500 px;
margin : auto;
text-align : center;
}


h1.FAQ{ 
background-color:aqua;
color: white;
font-size: 2d.3em;
text-align: center;


}

dt.FAQ{
    
color: darkorange;
}
dl.FAQ{
color: darkorange;
}
dd.FAQ{ 
margin:1em;
padding : 1em 0;
    
}

dt.FAQ{
     cursor: pointer;
    
    font-weight : bold;
    font-weight : 7.5em;
    line-height : 2em;
    background: aqua;
    border-bottom: 1px solid #c5c5c5;
}

h1 {
	font-size: 5.3em;
	text-align: center;
}

h2{
        font-size: 3.1em;
}

.a {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
    width: 100%;
    height: 50%;
	border-collapse: collapse;
	cellspacing: 0px;
}

.a tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

.a th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

.b {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
    width: 100%;
    height: 50%;
	border-collapse: collapse;
	cellspacing: 0px;
}

.b tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

.b th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}