body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

h2 {
	font-size: 1.1em;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color: #9FB6CD;
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button1 {
	border-radius: 8px;
}
.button-shadow{
	box-shadow: 3px 4px 0px 0px #1564ad;}

	.button2 {
	border-radius: 30%;
}

.red {
	background-color: #ff0000;
}

.HitMeBtn {
	box-shadow: inset 0px 1px 0px 0px #d29df5;
	background: linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	background-color: #dfbdfa;
	border-radius: 6px;
	border: 1px solid #c584f3;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #9752cc;
}

.WhyBtn {
	box-shadow: inset 0px 1px 0px 0px #fbafe3;
	background: linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	background-color: #ff5bb0;
	border-radius: 6px;
	border: 1px solid #ee1eb5;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #c70067;
}


 
.title {
	color: red;
	font-family: 'Trebuchet MS', sans-serif;
}

.title-large {
	font-size: 2rem;
}

.title-small {
	font-size: .5rem;
}