body {
  background-color: rgb(238, 80, 80);
  font-family: Arial;
}

nav {
  display: block;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(255, 59, 72);
  color: black;
}

video {
  display: block;
  margin: 0 auto;
}
/* Style the tab */


.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: rgb(225, 71, 71);
}

.all-browsers>h1, .browser {
  margin: 10px;
  padding: 5px;
}

.browser {
  background: rgb(232, 72, 72);
}

.browser>h2, p {
  margin: 4px;
  font-size: 90%;
}
.checked {
  color: orange;
}


.tab {
  overflow: hidden;
  border: 1px solid rgba(7, 1, 1, 0);
  background-color: #eb3333;
}

/* Style the buttons inside the tab */

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */

.tab button:hover {
  background-color: rgb(236, 83, 83);
}

/* Create an active/current tablink class */

.tab button.active {
  background-color: rgb(248, 94, 94);
}

/* Style the tab content */

