table {
	font-family: "Marker Felt", "", fantasy;
	color: black;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid black;
	text-align: center;
	background-color:whitesmoke; 
}

th {
	text-align: center;
	color: whitesmoke;
	background-color: darkred;
}
body {
	background-image: url('https://www.color-hex.com/palettes/2539.png');
  }

ol {
	list-style-type: upper-roman;
  }

ul {
	list-style-type: square;
  }