
p {
    background-color: #ffc2c2;
  }
  body {background-color:rgb(255, 168, 97);}
div{background-color:rgb(181, 194, 81);}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
table, th, td {
  border: 5px solid rgb(107, 107, 107);
  background-color:rgb(79, 182, 196);
}
.why {
  display: block;
  margin-left: auto;
}
.e {
  background-color:rgb(68, 110, 0);
}
.d {
  background-color:rgb(0, 124, 27);
}
.taco {
  background-color:rgb(202, 255, 117);
}
.Afirst {
  background-color:rgb(117, 193, 255);
}
.a {
  background-color:rgb(0, 140, 255);
}