.background-red {
    background-color: red;
}

.background-orange {
    background-color: orange;
}

.background-yellow {
    background-color: yellow;
}

.background-green {
    background-color: green;
}

.background-blue {
    background-color: blue;
}

.background-indigo {
    background-color: indigo;
}

.background-violet {
    background-color: violet;
}
/* unvisited link */
a:link {
    color: #FF0000;
  }
  
  /* visited link */
  a:visited {
    color: #00FF00;
  }
  
  /* mouse over link */
  a:hover {
    color: #FF00FF;
  }
  
  /* selected link */
  a:active {
    color: #0000FF;
  }
  a.highlight:hover {
    color: #fceb06;
  }