body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	background-image:  url(../images/tf2.jpg); 
	background-repeat: no-repeat;
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

h2{
	background: url(../images/banner.jpg) no-repeat center center;
	background-size: cover;
		font-size: 1.1em;
		text-align: center;	
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}