body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
}

table {
	table-layout: fixed;
	width: "500px";
	border-collapse: collapse;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color: #9FB6CD;
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

td {
	word-wrap: break-word;
}

#MessageOption {
	text-align: right;
}

.ButtonRight {
	float: right;
}

.ButtonLeft {
	float : left;
}