@import url(rainbow.css);
table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #e45b5b;
	text-align: right;
	background-color: #bbdfb2;
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

.button {
	background-color: #60af4c;
	border: none;
	color: rgb(141, 216, 135);
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button {
	border-radius: 8px;
}

.button2 {
	border-radius: 30%;
}

.red {
	background-color: #ff0000;
}

td {
	padding: 20px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

.title {
	color: rgb(50, 156, 124);
	font-family: 'Trebuchet MS', sans-serif;
}

.title-large {
	font-size: 2rem;
}

.title-small {
	font-size: .5rem;
}

#morecontent {
	background-color: rgb(32, 147, 175);
}

#knowledge>* {
	border: 3px rgb(0, 174, 255) solid;
}

p+p {
	background-color: #56c076;
}

div li::marker {
	color: red;
	font-weight: bold;
}

div li::marker {
	content: "😜 ";
}

a {
	/* Specify non-transparent defaults to certain properties,
	   allowing them to be styled with the :visited state */
	background-color: rgb(42, 175, 175);
	border: 1px solid rgb(228, 148, 148);
}

a:visited {
	background-color: rgb(82, 130, 150);
	border-color: hotpink;
	color: hotpink;
}

form {
	border: 1px solid;
	color: gray;
	padding: 4px;
}

form:focus-within {
	background: #ff8;
	color: black;
}

input {
	margin: 4px;
}
article:target-within {
	background-color: gold;
  }
  
  /* Add a pseudo-element inside the target element */
  p:target::before {
	font: 70% sans-serif;
	content: "►";
	color: limegreen;
	margin-right: .25em;
  }
  
  /* Style italic elements within the target element */
  p:target i {
	color: red;
  }