body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: rgb(13, 107, 196);
	background-color: rgb(255, 255, 255);
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

h2{
        font-size: 1.1em;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

ul{
	list-style-type: square;
}

ol{
	list-style-type: decimal-leading-zero;
}