body {
    width: 500px;
    
    margin: auto;
    text-align: center;
      
}

dl {
	
}

dd {
    margin: 0;
	
    padding: 1em 0;
}

dt {
    cursor: pointer;
    color: white;
	font-family: cursive;
    font-weight: bold;
    font-size : 1.5em;
    line-height: 2em;
    background: black;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

dt:first-child { border-top: none; }
dt:nth-last-child(2) { border-bottom: none; }

.hide { display: none;}